.accomodation-list {
  position: relative;
  &.news {
    padding: 0 40px;
  }
  .nav-tabs {
    border: none;
    gap: 32px;

    .nav-link {
      background-color: transparent;
      padding: 0;
      margin: 0;
      border: none;
      &.active {
        .animation-text-v3::before {
          transform: scale(1);
        }
      }
      &.active {
        .animation-text-v4::before {
          transform: scale(1);
        }
      }
    }
  }

  .tab-content {
    margin-top: 80px;
  }

  .accomodation {
    &-bg {
      position: absolute;
      right: -60px;
      top: -100px;
      transform: rotate(-16deg);
      width: 395px;
      height: 530px;
      z-index: -1;
    }
    &-card {
      display: flex;
      flex-direction: column;
      gap: 24px;

      &:nth-child(even) {
        transform: translateY(80px);
      }

      .card {
        &-top {
          width: 100%;
          aspect-ratio: 540 / 420;
          overflow: hidden;
          mask: url(../../images/bg-offer.png);
          mask-size: 100% 100%;

          &:hover {
            img {
              transform: scale(1.05);
            }
          }

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transform: scale(1);
            transition: all 0.5s ease-in-out;
          }
        }

        &-bottom {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        &-info {
          gap: 24px;

          li {
            display: flex;
            align-items: center;
            gap: 8px;
          }
        }

        &-title {
          margin-bottom: 16px;
          transition: all 0.4s ease;

          &:hover {
            color: var(--color-secondary);
          }
        }

        &-desc {
          margin-top: 24px;
          max-width: 75%;
        }

        &-cta {
          margin-top: 40px;
        }
      }
    }
  }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px 50px;
  }
}
