.section-act {
  @media (max-width: 991px) {
    padding: 0 24px;
  }
  &.section-chef {
    .swiper-box {
      aspect-ratio: 1 !important;
    }

    .section-act__slider--title {
      line-height: 62px;
    }
  }
  &__box {
    margin-bottom: 64px;
    position: relative;
    width: 100%;
  }
  &__bg {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0%, -51%);
    width: 600px;
    height: 600px;
    z-index: -1;
    @media (max-width: 991px) {
      width: 230px;
      height: auto;
      right: -10%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__tag {
    margin-bottom: 24px;
  }
  &__title {
    max-width: 90%;
    @media (max-width: 991px) {
      max-width: 100%;
    }
  }
  &__desc {
    margin-bottom: 40px;
    margin-top: 44px;
    max-width: 90%;
    @media (max-width: 991px) {
      max-width: 100%;
    }

    &.not-has-tag {
      margin-top: 20px;
    }
  }
  &__slider {
    &--content {
      position: relative;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-right: calc(1 / 12 * 100% + 40px);
      overflow: hidden;
      width: 100%;

      .section-act__slider--title,
      .section-act__slider--desc,
      .section-act__slider--tag {
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.4s ease;
      }

      .swiper-slide {
        &.swiper-slide-thumb-active {
          .section-act__slider--title,
          .section-act__slider--desc,
          .section-act__slider--tag {
            transform: translate(0);
            opacity: 1;
            transition: all 0.8s ease;
          }

          .section-act__slider--desc {
            transition-delay: 0.2s;
          }
        }
      }
    }
    &--title {
      margin-bottom: 24px;
    }
    &--tag {
      margin-bottom: 24px;
    }
  }
  .swiper-act-content {
    overflow: hidden;
    width: 100%;
  }
  .act-slider {
    margin-right: 40px;
    // overflow: hidden;
    @media (max-width: 991px) {
      margin-right: 0;
    }
    .swiper-box {
      width: 100%;
      aspect-ratio: 550 / 435;
      padding: 0 20px;
      @media (max-width: 991px) {
        padding: 0;
      }
      &-img {
        height: 100%;
        width: 100%;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .swiper-btn-act {
    margin: 0;
    width: 80px;
    height: 80px;
    // background: url("../../images/img-frame-circle.svg");
    background-color: var(--color-pattern);
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.2s ease, transform 0.2s ease;

    cursor: none;
    @media (max-width: 991px) {
      opacity: 1;
      transform: scale(1);
      cursor: pointer;
    }
    &::after {
      content: unset;
      font-size: 0;
    }
    svg {
      width: auto;
      height: auto;
    }
  }
  .swiper-button-prev {
    right: unset;
  }

  .swiper-button-next {
    right: unset;
    transform: translate(0);
  }
  .swiper-pagination-fraction {
    bottom: 0;
    left: 0;
    width: max-content;
    color: var(--color-primary);
    // background-image: url("../../images/img-circle-primary.svg");
    border: 1px solid var(--color-primary);
    border-radius: 50%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
  }
}
