.animation-image img {
  mask: url("../../images/sprite-central.png");
  mask-size: 3000% 100%;
}
.animation-image.show img {
  animation: maskCentral 2s steps(29) forwards;
}
@keyframes maskCentral {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 100% 100%;
  }
}
.spacing {
  height: 100vh;
}
.fx-title {
  font-size: 40px;
}
.hover-text {
  display: inline-block;
}
