.animation-image img {
  mask: url("../../images/sprite-central.png");
  mask-size: 3000% 100%;
}
.animation-image.show img {
  animation: maskCentral 2s steps(29) forwards;
}
@keyframes maskCentral {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 100% 100%;
  }
}
.spacing {
  height: 100vh;
}
.fx-title {
  font-size: 13px;
}
.animation-text {
  position: relative;
  height: 20px;
}
.animation-text::before {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 5px;
  background: url("../../images/line-wave.svg") repeat-x;
  background-size: auto;
  background-position: 0% 0%;
}
.animation-text:hover::before {
  background: url("../../images/line-wave-active.svg") repeat-x;
}
