.animation-image img {
  mask: url("../../images/sprite-central.png");
  mask-size: 3000% 100%;
}
.animation-image.show img {
  animation: maskCentral 2s steps(29) forwards;
}
@keyframes maskCentral {
  0% {
    mask-position: 0% 0%;
  }
  100% {
    mask-position: 100% 100%;
  }
}
.spacing {
  height: 100vh;
}
.fx-title {
  font-size: 13px;
}
.animation-text {
  position: relative;
  height: 20px;
  &:hover {
    .wave-line::before {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
  .wave-line {
    position: absolute;
    bottom: -8px;
    left: 0;
    width: 100%;
    height: 10px;
    overflow: hidden;
    background-color: #000;
    -webkit-mask-image: url("../../images/line-wave.svg");
    mask-image: url("../../images/line-wave.svg");
    mask-repeat: no-repeat;
    mask-size: 100% 100%;
    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: transform 0.5s;

      background-color: red;
      transform: scaleX(0);
      transform-origin: bottom right;
    }
  }
}
