.section-banner {
  position: relative;
  height: 100vh;

  @media (max-width: 991px) {
    max-height: 640px;
  }
  &__container {
    width: 100%;
    height: 100vh;

    @media (max-width: 991px) {
      max-height: 640px;
    }
  }
  &__wrapper {
    width: 100%;
    height: 100%;

    @media (min-width: 991px) {
      height: 100vh;
      overflow: hidden;
    }

    .video {
      width: 100%;
      position: relative;
      overflow: hidden;
      padding-bottom: 56.25%;
      height: 0;
      max-width: 100%;

<<<<<<< HEAD
      @media (max-width: 1440px) {
        height: 100vh;
        width: 100svw;
        padding-bottom: 0;
      }
=======
      // @media (max-width: 1440px) {
      //   height: 100vh;
      //   width: 100svh;
      //   padding-bottom: 0;
      // }
>>>>>>> 1f1e5fedbc02ab5d08b41a62b00b0a8eff63a2f2

      @media (max-width: 991px) {
        height: 100%;
      }

      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        // transform: scale(1.25);
        // object-fit: cover;

        @media (max-width: 1400px) {
          height: 100vh;
          width: 177.78vh;
          // transform: scale(1);
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          padding-bottom: 0;
        }
      }
    }
    video {
      object-fit: cover;
    }
    picture {
      width: 100%;
      height: 100%;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
