.desc-page {
  position: relative;
  margin-bottom: 120px;
  &.page-contact {
    .desc-page__container {
      padding: 0;
    }
    .desc-page__desc {
      margin-bottom: 16px;
    }
    .desc-page__add {
      margin-bottom: 12px;
    }

    .desc-page__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 12px;
      li {
        a {
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
    .desc-page__bg {
      transform: translateX(0);
    }
  }
  &.page-destination-detail {
    .desc-page__bg {
      transform: translateX(0);
    }
  }
  &__container {
    text-align: center;
    padding: 0 40px;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__bg {
    position: absolute;
    right: 0;
    bottom: -40%;
    width: 370px;
    height: 470px;
    transform: translateX(50%);
    z-index: -1;
  }
}
