footer {
  padding: 44px 40px 0;

  .footer {
    &-top {
      border-top: 4px solid var(--color-line);
      padding-top: 40px;

      .title {
        margin-bottom: 24px;
      }
    }

    &-contact {
      form {
        display: flex;
        align-items: center;
        gap: 34px;
        transform: translateY(-15px);

        input {
          width: 100%;
          border: 0;
          height: 44px;
          border-bottom: 4px solid var(--color-line);

          &::placeholder {
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            color: var(--color-primary);
          }
        }

        button {
          width: 44px;
          height: 44px;
          min-width: 44px;
        }
      }

      .social {
        margin-top: 40px;

        ul {
          gap: 24px;

          li {
            display: flex;
          }
        }
      }
    }

    &-menu {
      margin-right: 40px;
      border-right: 4px solid var(--color-line);

      ul {
        li {
          display: flex;
          a {
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            color: var(--color-primary);
          }

          &:not(:first-child) {
            margin-top: 16px;
          }
        }
      }
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 45px;
    }

    &-location {
      margin-right: 40px;
      padding-right: 70px;
      border-right: 4px solid var(--color-line);

      a:hover {
        color: var(--color-primary);
      }
    }

    &-headquarter {
      display: grid;
      grid-template-columns: calc(6 / 9 * 100%) calc(3 / 9 * 100%);
      padding: 36px 0 32px;
      border-top: 4px solid var(--color-line);

      .logo-bct {
        width: 134px;
        height: auto;
      }
    }

    &-bottom {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      padding: 16px 0;
      border-top: 4px solid var(--color-line);

      .menu {
        display: flex;
        align-items: center;
        gap: 32px;

        li {
          display: flex;
        }

        a {
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          color: var(--color-primary);
        }
      }
    }

    &-alpha {
      a {
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
