footer {
  padding: 0 40px;
  position: relative;
  overflow: hidden;
  z-index: 2;
  background: var(--color-pattern) url("../../images/bg-body.png");
  background-repeat: repeat-y;
  background-size: contain;
  .footer__bg {
    position: absolute;
    bottom: -50px;
    left: -80px;
    transform: rotate(27deg);
  }
  .footer {
    &-top {
      padding-top: 40px;
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-line);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        mask-image: url(../../images/footer-line-bottom.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      .title {
        margin-bottom: 24px;
      }
    }

    &-logo {
      width: 233px;
      height: 120px;
      display: block;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &-contact {
      form {
        display: flex;
        align-items: center;
        gap: 34px;
        transform: translateY(-15px);

        .field {
          width: 100%;
          position: relative;

          &::after {
            content: "";
            background-color: var(--color-line);
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 4px;
            mask-image: url(../../images/footer-line-input.png);
            mask-size: 100% 100%;
            mask-repeat: no-repeat;
            mask-position: center;
          }
        }

        input {
          width: 100%;
          border: 0;
          height: 44px;

          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          color: var(--color-primary);

          &::placeholder {
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            color: var(--color-primary);
          }
        }

        button {
          width: 44px;
          height: 44px;
          min-width: 44px;

          path {
            transition: all 0.3s ease;
          }

          &:hover {
            path {
              fill: var(--color-white);
            }

            .icon {
              fill: #232c6a;
            }
          }
        }
      }

      .social {
        margin-top: 25px;

        ul {
          gap: 24px;

          li {
            display: flex;
            a {
              &:hover {
                color: var(--color-primary);
              }
            }
          }
        }
      }
    }

    &-menu {
      margin-right: 40px;
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-line);
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        mask-image: url(../../images/footer-line-midle.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      ul {
        li {
          display: flex;
          a {
            font-size: 13px;
            line-height: 20px;
            font-weight: 500;
            color: var(--color-primary);
          }

          &:not(:first-child) {
            margin-top: 16px;
          }
        }
      }
    }

    &-main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 45px;
    }

    &-location {
      margin-right: 40px;
      padding-right: 70px;
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-line);
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        mask-image: url(../../images/footer-line-midle.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      p {
        margin-bottom: 8px;
      }

      a:hover {
        color: var(--color-primary);
      }
    }

    &-headquarter {
      display: grid;
      grid-template-columns: calc(6 / 9 * 100%) calc(3 / 9 * 100%);
      padding: 36px 0 32px;
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-line);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        mask-image: url(../../images/footer-line-bottom.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      .logo-bct {
        width: 134px;
        height: auto;
        filter: grayscale(100%);
      }

      .info {
        max-width: 78%;
      }
    }

    &-bottom {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      padding: 16px 0;
      //   border-top: 4px solid var(--color-line);
      position: relative;

      &::after {
        content: "";
        background-color: var(--color-line);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 4px;
        mask-image: url(../../images/footer-line-bottom.png);
        mask-size: 100% 100%;
        mask-repeat: no-repeat;
        mask-position: center;
      }

      .menu {
        display: flex;
        align-items: center;
        gap: 32px;

        li {
          display: flex;
        }

        a {
          font-size: 13px;
          line-height: 20px;
          font-weight: 500;
          color: var(--color-primary);
        }
      }
    }

    &-alpha {
      a {
        &:hover {
          color: var(--color-primary);
        }
      }
    }
  }
}
