.page-gallery main {
  overflow: unset;
}
.gallery {
  &__list {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    width: 100%;
    padding: 0 40px;
    @media (max-width: 991px) {
      padding: 0 24px;
      grid-template-columns: 1fr;
      grid-auto-rows: minmax(210px, auto);
      gap: 24px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 330px;
    cursor: pointer;
    overflow: hidden;
    grid-column: span 2;
    @media (max-width: 991px) {
      grid-column: span 1;
      grid-row: span 1;
      height: auto;
    }

    .thumb-img {
      width: 100%;
      height: 100%;
      // transition: all 0.3s ease;
    }

    &:nth-child(12n + 2),
    &:nth-child(12n + 4),
    &:nth-child(12n + 8),
    &:nth-child(12n + 12) {
      grid-column: span 1;
      @media (max-width: 991px) {
        grid-row: span 2;
      }
    }
    &.media-empty {
      cursor: default;
    }

    @media (min-width: 1441px) {
      height: 450px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // transition: all 0.3s ease;
    }
  }
}
.media-large {
  grid-column: span 2;

  .thumb-img {
    width: 100%;
    height: 100%;
    // mask-image: url("../../images/g-hori.png");
    // mask-size: 100% 100%;
    // mask-repeat: no-repeat;
  }
}
.media-small {
  grid-column: span 1;

  .thumb-img {
    width: 100%;
    height: 100%;
    // mask-image: url("../../images/g-vertical.png");
    // mask-size: 100% 100%;
    // mask-repeat: no-repeat;
  }
}
.media-empty {
  grid-column: span 1;

  .thumb-img {
    opacity: 0;
    visibility: hidden;
  }
}
.lg-image {
  // mask-image: url("../../images/g-hori.png");
  // mask-size: 100% 100%;
  // mask-repeat: no-repeat;
  // aspect-ratio: 16 / 9;
  // object-fit: cover;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.lg-content {
  top: 0 !important;
}
.lg-img-wrap {
  padding: 7% 0 !important;
  @media (max-width: 991px) {
    padding: 10% 24px !important;
  }
}
.lg-backdrop {
  background: var(--color-pattern) url("../../images/bg-body.png");
  background-repeat: repeat-y;
  background-size: contain;
}
.lg-sub-html {
  h4 {
    font-family: var(--font-body);
    font-size: 16px;
    line-height: 28px;
    color: var(--color-primary);
    font-weight: 400;
  }
}
.lg-components {
  bottom: 5%;
}
.lg-prev {
  background-color: transparent;
  transform: translate(-200%, -150%);
  cursor: none !important;
  display: none;
  &::after {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../../images/ic-arrow-prev.svg");
    background-color: transparent;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
.lg-next {
  background-color: transparent;
  transform: scale(1) translate(-200%, -150%);
  right: unset;
  display: none;
  cursor: none !important;
  &::before {
    content: "";
    position: absolute;
    width: 80px;
    height: 80px;
    background-image: url("../../images/ic-arrow-next.svg");
    background-color: transparent;
    @media (max-width: 991px) {
      display: none;
    }
  }
}
.lg-close {
  background-color: transparent;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    background-image: url("../../images/ic_close.svg");
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 2001;
  }
  &::after {
    content: unset;
  }
}
.lg-toolbar {
  top: 40px;
  padding: 0 40px;
  z-index: 2000;
  @media (max-width: 991px) {
    padding: 0 12px;
  }
  .lg-counter {
    display: none;
  }
}
.lg-show-in .lg-backdrop {
  // animation: fadeInBackdrop 0.3s ease both;
}
.lg-container {
  cursor: none !important;
}
.lg-show-in .lg-backdrop:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 150px;
  height: 150px;
  background-image: url("../../images/artwork/so.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);
}
.lg-show-in .lg-backdrop:after {
  content: "";
  position: absolute;
  top: 80px;
  right: 24px;
  width: 200px;
  height: 200px;
  background-image: url("../../images/artwork/sao.svg");
  background-repeat: no-repeat;
  background-size: contain;
  transform: scaleX(-1);

  @media (max-width: 991px) {
    width: 150px;
    height: 150px;
  }
}

.lg-show-in .lg-outer {
  animation: zoomInPopup 0.4s ease both;
}
.lg-close {
  position: relative;
}
.lg-toolbar .lg-close:after {
  content: unset !important;
}
@keyframes fadeInBackdrop {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes zoomInPopup {
  from {
    transform: scale(0.8);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
