.custom-tag {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  mask: url("../../images/bg-tag.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}
.btn-general {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  mask: url("../../images/bg-tag.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  color: var(--color-white);
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  transition: all 0.4s;
  &:hover {
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.cta-group {
  position: fixed;
  bottom: 40px;
  right: 40px;
  z-index: 19;
  transition: right 0.3s ease;
  &.hide {
    right: -50px;
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cta-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 49px;
    height: 49px;

    transition: background-color 0.3s ease;

    &.mess {
      background-color: var(--color-secondary);
      mask: url("../../images/cta-mess.png");
      mask-size: 100% 100%;
      &:hover {
        background-color: var(--color-primary);
      }
    }
    &.phone {
      background-color: var(--color-primary);
      mask: url("../../images/cta-phone.png");
      mask-size: 100% 100%;
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}
.svg-container {
  position: absolute;
  top: 85vh;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 5989px;
  z-index: -1;
  overflow: hidden;

  svg {
    height: 100%;
    position: relative;
    path {
      stroke-dasharray: 8 8;
      stroke: var(--color-primary);
      stroke-width: 1.2;
      stroke-linecap: round;
      mask: url(#revealMask);
    }
  }
}
.animation-art-reverse {
  overflow: hidden;
  will-change: clip-path, opacity;
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  transition: clip-path 1s ease-out, opacity 1s ease-out;

  &.show {
    clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    opacity: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.animation-art {
  overflow: hidden;
  will-change: clip-path, opacity;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  transition: clip-path 1s ease-out, opacity 1s ease-out;

  &.show {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    opacity: 1;
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.scroll-hidden {
  overflow: hidden;
}
#rect {
  left: 50%;
  position: absolute;
  transform: rotate(45deg);
}
