.custom-tag {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  mask: url("../../images/bg-tag.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}
.btn-general {
  display: inline-block;
  padding: 10px 24px;
  background-color: var(--color-primary);
  // mask: url("../../images/bg-tag.svg");
  // mask-size: 100% 100%;
  // mask-repeat: no-repeat;
  // mask-position: center;
  color: var(--color-white);
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
  transition: all 0.4s;
  min-width: 115px;
  text-align: center;
  height: 40px;
  min-width: max-content;

  &.aloading {
    pointer-events: none;
    position: relative;
    color: var(--color-primary);

    span {
      opacity: 0;
      visibility: hidden;
    }

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: 2px solid transparent;
      border-radius: 50%;
      border-top: 2px solid var(--color-white);
      border-right: 2px solid var(--color-white);
      width: 20px;
      height: 20px;
      animation: spin-animation 1s linear infinite;
      z-index: 2;
      background: 0 0;
    }
  }

  @keyframes spin-animation {
    0% {
      transform: translate(-50%, -50%) rotate(0deg);
    }
    100% {
      transform: translate(-50%, -50%) rotate(360deg);
    }
  }

  &:disabled {
    pointer-events: none;
  }

  &.secondary {
    color: var(--color-primary);
    background-color: transparent;
    position: relative;
    min-width: 186px;
    transition: all 0.4s ease;
    border: 1px solid var(--color-primary);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}

.fade {
  transition: opacity 0.3s linear;
}

.cta-group {
  position: fixed;
  bottom: 65px;
  right: 40px;
  z-index: 19;
  transition: right 0.3s ease;
  @media (max-width: 991px) {
    right: 24px;
    bottom: 110px;
  }
  &:hover {
    cursor: pointer;
  }
  &.hide {
    .cta-item {
      transform: translateX(70%);
      opacity: 0;
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .cta-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;

    transition: background-color 0.3s ease, transform 0.5s ease,
      opacity 0.4s ease;

    &.mess {
      background-color: var(--color-secondary);
      &:hover {
        background-color: var(--color-primary);
      }
    }
    &.phone {
      background-color: var(--color-primary);
      transition: background-color 0.3s ease, transform 0.7s ease,
        opacity 0.4s ease;
      &:hover {
        background-color: var(--color-secondary);
      }
    }
  }
}
.out-home,
.page-template:not(.page-template-template-home) {
  main {
    // overflow-x: hidden;
  }
}

.page-accomodation,
.page-offer,
.page-news,
.page-template-template-offer {
  main {
    overflow: unset !important;
  }
}

.page-single {
  .image-with-text {
    @media (max-width: 991px) {
      margin-bottom: 48px;
    }
  }
}
.svg-container-wrapper {
  position: absolute;
  top: 35vh;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  z-index: -1;
  overflow: hidden;
  @media (max-width: 991px) {
    height: 100vh;
    overflow: hidden;
    img {
      transform: scale(3);
    }
  }
  &.not-banner {
    top: -45vh;
  }
  @media (min-width: 1441px) {
    display: none;
  }
}
.animation-art-reverse {
  width: 200px !important;
  @media (max-width: 991px) {
    width: 140px !important;
    aspect-ratio: 1;
    opacity: 0.5;
  }
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.animation-art {
  overflow: hidden;
  mask: url("../../images/sprite-central.png");
  mask-size: 3000% 100%;
  mask-position: center;
  mask-repeat: no-repeat;

  &.show {
    img {
      animation: maskCentral 1.3s steps(29) forwards;
    }
  }

  img {
    display: block;
    width: 100%;
    height: 100%;
  }
}
.scroll-hidden {
  overflow: hidden;
}
#rect {
  left: 50%;
  position: absolute;
  transform: rotate(45deg);
}

.magic-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  z-index: 1061;
  @media (max-width: 991px) {
    display: none;
  }
  .cursor {
    width: 10px;
    height: 10px;
    // background-color: var(--color-primary);
    background-color: transparent;
    border-radius: 50%;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
    .text {
      opacity: 0;
      transform: scale(0);
      transition: all 0.3s ease;
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
    }

    &.show-text {
      width: 80px;
      height: 80px;
      background-color: var(--color-pattern);
      border-radius: 50%;
      border: 1px solid var(--color-primary);

      .text {
        opacity: 1;
        transform: scale(1);
      }
    }

    span {
      font-family: var(--font-body);
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      color: var(--color-primary);
    }
  }

  .text {
    min-width: max-content;
    opacity: 0;
  }
}

[data-cursor-text] {
  cursor: none !important;

  a {
    cursor: none !important;
  }
}

input[type="time"]::-webkit-calendar-picker-indicator {
  background: none;
}

.modal-backdrop.show {
  opacity: 0.8;
}

.modal-booking {
  .modal-content {
    border: none;
    border-radius: unset;
    // background-color: var(--color-pattern);
    background-image: url("../../images/culinary-detail/bg-modal.png");
    background-repeat: no-repeat;
    background-size: cover;
  }

  .modal-dialog {
    max-width: 440px;
    gap: 24px;
    pointer-events: auto;

    @media (max-width: 991px) {
      margin: auto;
    }
  }

  .modal-close {
    cursor: pointer;
    .btn-close {
      &:focus {
        box-shadow: none;
      }
    }
    button {
      width: 24px;
      height: 24px;
      background: transparent;
      color: transparent;
      opacity: 1;
    }
  }

  .modal-body {
    padding: 48px;
    @media (max-width: 991px) {
      padding: 24px;
    }
  }

  .title {
    margin-bottom: 40px;
    padding-bottom: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color: #0e6261, $alpha: 0.1);
    }
  }

  .field {
    margin-top: 24px;

    input {
      width: 100%;
      border: none;

      &::placeholder {
        color: rgba($color: #0e6261, $alpha: 0.4);
      }

      &[type="number"] {
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        -moz-appearance: textfield;
      }
    }

    &.people {
      gap: 24px;
    }

    &-border-bottom {
      position: relative;
      padding-bottom: 12px;

      &.error {
        input:not([name="booking-hour"]) {
          color: rgba($color: #aa0000, $alpha: 0.6);

          &::placeholder {
            color: rgba($color: #aa0000, $alpha: 0.6);
          }
        }
      }

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background-color: rgba($color: #0e6261, $alpha: 0.1);
      }
    }

    &.date {
      position: relative;
      .field-border-bottom {
        position: relative;
        z-index: 2;
      }
      img {
        position: absolute;
        top: 12px;
        right: 0;
        transform: translateY(-50%);
        width: 24px;
        height: 24px;
      }

      input {
        &:nth-child(2) {
          margin-left: 10px;
          max-width: 110px;
        }
      }
    }
  }

  .btn-wrapper {
    margin-top: 40px;
    gap: 40px;
    @media (max-width: 991px) {
      flex-wrap: wrap;
      gap: 12px 24px;
      margin-top: 32px;
    }
  }

  &-success {
    .modal-body {
      padding: 64px 48px 140px;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        right: 0px;
        bottom: 0px;
        width: 210px;
        height: 210px;
        background-image: url("../../images/artwork/so.svg");
        opacity: 0.3;
      }
    }

    .modal-dialog {
      gap: 24px;
    }

    .modal-close {
      cursor: pointer;
      button {
        width: 24px;
        height: 24px;
        background: transparent;
      }
    }

    .modal-content {
      border: none;
      border-radius: unset;
      // background-color: var(--color-pattern);
      position: relative;
      background-image: url("../../images/culinary-detail/bg-modal.png");
      background-repeat: no-repeat;
      background-size: cover;

      .content {
        &-logo {
          width: 65px;
          height: 66px;
          margin: 0 auto;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }

        &-box {
          margin-top: 40px;

          .title {
            margin-bottom: 24px;
          }
        }
      }
    }
  }
}

.lightpick {
  padding: 15px;
  font-family: var(--font-body);
  color: var(--color-primary);
}

.lightpick__month-title-bar {
  margin-bottom: 15px;
}

.lightpick__day.is-today {
  color: var(--color-secondary);
  font-weight: 900;
  background-image: none;
}

.lightpick__day.is-start-date {
  background-image: none;
  background-color: var(--color-pattern);
  color: var(--color-secondary) !important;
  border-radius: 50%;
}

.lightpick__day.is-available {
  border-radius: 50%;
  transition: all 0.4s ease;
}

.lightpick__day.is-available:hover {
  background-image: none;
  background-color: var(--color-pattern);
  color: var(--color-secondary) !important;
}

.lightpick__day.is-in-range:hover {
  background-image: none;
  background-color: var(--color-secondary);
}

.lightpick__day:not(.is-disabled):hover,
.lightpick__day.is-start-date.is-end-date {
  background-image: none;
}

.lightpick__day.is-in-range {
  background-color: rgba(194, 32, 51, 0.8);
  color: #fff;
}

.lightpick__day.is-end-date.is-in-range.is-flipped,
.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range,
.lightpick__day.is-start-date.is-in-range.is-flipped {
  background-color: var(--color-secondary);
  font-weight: 900;
}

.lightpick__month-title > .lightpick__select-months,
.lightpick__day-of-the-week {
  font-weight: 600;
  color: var(--color-primary);
}
.lightpick__month-title {
  padding: 0;
  margin-left: 8px;
}
.lightpick__month-title > .lightpick__select-months,
.lightpick__day-of-the-week {
  text-align: left;
}
.lightpick__toolbar {
  display: flex;
  gap: 5px;
}
.lightpick__month-title > .lightpick__select {
  color: var(--color-primary);
}
.lightpick__month-title > .lightpick__select.lightpick__select-years {
  font-weight: 600;
}
.lightpick__next-action,
.lightpick__previous-action {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
  background-image: url("../../images/ic-arrow-calendar-bg.svg");
  background-repeat: no-repeat;
  background-position: 55% 50%;
  background-color: var(--color-secondary);
  background-size: 160%;
  margin: 0;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background-image: url("../../images/ic-arrow-calendar-next.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.lightpick__previous-action {
  transform: rotate(180deg);
}
.page-single {
  .section-slider__content {
    @media (max-width: 991px) {
      margin: 0;
    }
  }
}
.page-single {
  .section-story__title {
    .char {
      opacity: 0;
    }
  }
  .section-story__content {
    .room-info {
      opacity: 0;
    }
  }
  .btn-wrapper {
    opacity: 0;
  }
  .section-story__description {
    .split-word {
      opacity: 0;
    }
  }
}
.splitting .char {
  backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  transform: translateZ(0);
  font-feature-settings: "kern" 1, "liga" 1, "calt" 1;
}
.culinary-template-default {
  .section-story__ilus {
    @media (max-width: 991px) {
      top: -20%;
    }
  }
}
.single-offer {
  .section-offer {
    @media (max-width: 991px) {
      padding-top: 30px;
    }
  }
}
.page-template-template-spa,
.single-event {
  .section-intro__content {
    @media (max-width: 991px) {
      padding-top: 50px;
    }
  }
}
.single-destination .section-offer__content {
  @media (max-width: 991px) {
    margin-bottom: 0;
  }
}
.single-destination,
.single-post {
  @media (max-width: 991px) {
    main {
      overflow-x: hidden;
    }
  }
}
