.custom-tag {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  mask: url("../../images/bg-tag.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
}
.btn-general {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--color-primary);
  mask: url("../../images/bg-tag.png");
  mask-size: 100% 100%;
  mask-repeat: no-repeat;
  mask-position: center;
  color: var(--color-white);
  font-family: var(--font-body);
  font-size: 13px;
  line-height: 20px;
  font-weight: 400;
  transition: all 0.4s;
  &:hover {
    background-color: var(--color-secondary);
    color: var(--color-white);
  }
}
