.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  transition: transform 0.4s ease;
  &.scrolled {
    transform: translateY(-100%);
  }
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    position: relative;
    z-index: 99;
    background-image: url("../../images/bg-header.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  &-logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &-menu {
    display: flex;
    align-items: center;

    .btn-hamburger {
      display: flex;
      align-items: center;
      gap: 5px;
      color: var(--color-white);
      margin-right: 48px;
    }

    .btn-music {
      margin-left: 45px;
      width: 32px;
      height: 32px;
      position: relative;
      // border: 1px solid var(--color-white);
      border-radius: 50%;
      background-image: url("../../images/mask-border.png");
      background-size: 100% 100%;
      .line-muted {
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s ease;
      }
      &.pause {
        .line-muted {
          opacity: 1;
          visibility: visible;
        }
      }
      svg {
        width: 11px;
        height: 16px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      .icon-pause {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  .menu {
    display: flex;
    align-items: center;
    gap: 24px;

    a {
      font-size: 13px;
      line-height: 20px;
      font-weight: 700;
      color: var(--color-white);
    }
  }
  &-sub-menu {
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    width: 100%;
    min-height: calc(100vh - 70px);
    will-change: transform;
    transition: all 0.5s ease;
    opacity: 0;
    visibility: hidden;
    z-index: 94;
    &.show {
      opacity: 1;
      visibility: visible;
    }
    &__container {
      display: grid;
      grid-template-columns: 4fr 8fr;
      height: 100%;
      .sub-menu {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        ul {
          display: flex;
          align-items: center;
          flex-direction: column;
          gap: 24px;
          li {
            a {
              &:hover {
                color: var(--color-white);
              }
              &::before {
                background-color: var(--color-white);
              }
            }
          }
        }
      }
    }
    .sub-menu-container {
      background-image: url("../../images/bg-sub-menu.png");
    }
    .sub-menu-overlay {
      background-color: #464344;
    }
  }
}
