section.image-with-text {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .main-image {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1440 / 843;
    object-position: bottom;
    object-fit: cover;
  }

  .mask {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 50vh;
    background: var(--color-pattern) url(../../images/bg-body.png);
    background-size: contain;
  }

  .mask.top {
    top: 0%;

    &::after {
      content: "";
      background: var(--color-pattern) url(../../images/bg-body.png);
      mask: url(../../images/mask-top.png);
      mask-size: 100% 100%;
      background-size: contain;
      background-repeat: repeat-y;
      width: 100%;
      aspect-ratio: 1440 / 104;
      height: auto;
      position: absolute;
      left: 0;
      top: 95%;
      transform: translateY(-10px);
    }
  }

  .mask.bottom {
    bottom: 0;

    &::after {
      content: "";
      background: var(--color-pattern) url(../../images/bg-body.png);
      mask: url(../../images/mask-bottom.png);
      mask-size: 100% 100%;
      width: 100%;
      aspect-ratio: 1440 / 210;
      // height: auto;
      background-size: contain;
      background-repeat: repeat-y;
      position: absolute;
      left: 0;
      bottom: 100%;
      transform: translateY(1px);
      pointer-events: none;
    }
  }
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: calc(6 / 12 * 100%);
    width: 100%;
    padding: 0 48px;
    h1 {
      margin-bottom: 24px;
      text-align: center;
    }
    .desc {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &.reverse-mask {
    .mask.top::after {
      transform: translateY(-10px) scaleX(-1);
    }
    .mask.bottom::after {
      transform: translateY(1px) scaleX(-1);
    }
    &::before {
      content: "";
      position: absolute;
      inset: 0;
      background-color: rgba(0, 0, 0, 0.4);
    }
  }
}
