section.image-with-text {
  position: relative;
  overflow: hidden;
  height: 100vh;

  .ilus-right {
    width: 365px;
    height: auto;
    position: absolute;
    right: 0;
    top: -25%;
    z-index: -1;
  }

  .main-image {
    width: 100%;
    max-height: 100vh;
    aspect-ratio: 1440 / 843;
    object-position: bottom;
    object-fit: cover;
  }

  .detail-slider {
    max-height: 100vh;
    width: 100%;

    .swiper-slide {
      overflow: hidden;
    }

    &__image {
      position: relative;

      img {
        width: 100%;
        aspect-ratio: 1440 / 843;
        object-position: center;
        object-fit: cover;
      }
    }
  }

  .swiper-button-next {
    right: 0;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next,
  .swiper-button-prev {
    width: 50%;
    height: 100%;
    transform: translateY(-50%);
    transition: all 0.2s ease;
    cursor: none;
    z-index: 3;

    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      transform: unset;
    }

    &.swiper-button-disabled {
      opacity: 0;
      visibility: hidden;
    }
  }

  .swiper-button-next:after,
  .swiper-button-prev:after {
    display: none;
  }

  .mask {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 9;
    height: 50vh;
    background: var(--color-pattern) url(../../images/bg-body.png);
    background-size: contain;
  }

  .mask.top {
    top: 0%;

    &::after {
      content: "";
      background: var(--color-pattern) url(../../images/bg-body.png);
      mask: url(../../images/mask-top.png);
      mask-size: 100% 100%;
      background-size: contain;
      background-repeat: repeat-y;
      width: 100%;
      aspect-ratio: 1440 / 104;
      height: auto;
      position: absolute;
      left: 0;
      top: 95%;
      transform: translateY(-10px);
    }
  }

  .section-wrapper {
    position: relative;
  }

  .mask.bottom {
    bottom: 0;

    &::after {
      content: "";
      background: var(--color-pattern) url(../../images/bg-body.png);
      mask: url(../../images/mask-bottom.png);
      mask-size: 100% 100%;
      width: 100%;
      aspect-ratio: 1440 / 210;
      // height: auto;
      background-size: contain;
      background-repeat: repeat-y;
      position: absolute;
      left: 0;
      bottom: 100%;
      transform: translateY(1px);
      pointer-events: none;
    }
  }
  .content {
    position: absolute;
    z-index: 2;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    max-width: calc(6 / 12 * 100%);
    width: 100%;
    padding: 0 40px;
    h1 {
      margin-bottom: 24px;
      text-align: center;
    }
    .desc {
      text-align: center;
      margin-bottom: 40px;
    }
  }

  &.reverse-mask {
    .mask.top::after {
      transform: translateY(-10px) scaleX(-1);
    }
    .mask.bottom::after {
      transform: translateY(1px) scaleX(-1);
    }
  }
}
