section.section-slider {
  height: 100vh;
  position: relative;

  .nav-tabs {
    border: none;
    width: max-content;
    left: calc(1 / 12 * 100%);
    top: 0;
    position: absolute;
    z-index: 2;

    .nav-item {
      &:not(:last-child) {
        margin-right: 32px;
      }
    }

    .nav-link {
      padding: 0;
      border: none;
      color: #000;
    }
  }

  .swiper-slide {
    background-color: #fff;
    width: 100%;
    aspect-ratio: 885 / 545;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #000;
    transition: 0.5s all;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .slider-swiper-content {
    max-width: 70%;
    margin-right: auto;
    margin-left: 0;

    .swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      text-align: left;
      background-color: #fff;

      .desc {
        margin-top: 24px;
      }

      * {
        transform: translateY(30px);
        opacity: 0;
        transition: all 0.8s ease;
      }

      &.swiper-slide-active {
        * {
          transform: translate(0);
          opacity: 1;
        }
      }
    }
  }

  .swiper-pagination {
    top: unset;
    bottom: unset;
    position: relative;
    transform: translateY(40px);
  }

  .main-slider {
    .swiper-slide {
      mask-image: url(../../images/mask-image-1.png);
      mask-size: 100% 100%;
      mask-repeat: no-repeat;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .swiper-pagination-bullet {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: auto;
    margin: 0 12px !important;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;

    span {
      color: #232c6a;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .progress {
    transform: rotate(-90deg);
    width: 41px;
    height: 41px;
    background-color: transparent;
    mask-image: url(../../images/pagination-circle.svg);
    mask-size: 100% 100%;
    mask-repeat: no-repeat;
    transform: scaleX(-1) rotate(-65deg);
  }
  .circle-origin {
    fill: transparent;
    stroke: #232c6a;
    stroke-width: 4;
    stroke-linecap: round;
    stroke-dasharray: 125.664px;
    stroke-dashoffset: 125.664px;
    opacity: 0;
  }

  .swiper-pagination-bullet-active .circle-origin {
    animation: progress 5s;
    opacity: 1;
  }

  @keyframes progress {
    0% {
      stroke-dashoffset: -128.8px;
    }

    100% {
      stroke-dashoffset: -3px;
    }
  }
}
