.section-story {
  //   padding: 0 40px;
  position: relative;
  &__content {
    text-align: center;
  }
  &__title {
    margin-bottom: 40px;
  }
  &__description {
    text-align: center;
  }
  &__bg {
    position: absolute;
    top: 0;
    left: -5%;
    transform: translateX(-50%);
    width: 683px;
    aspect-ratio: 683 / 505;
    z-index: -1;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
      mask-image: url("../../images/bg-story.png");
      mask-size: 100% 100%;
    }
  }
  &__leaf {
    position: absolute;
    right: 0%;
    bottom: -100%;
    width: 365px;
    // aspect-ratio: 585 / 600;
    z-index: -1;
    // transform: translate(50%, 50%);
    // overflow: hidden;
  }
}
