.page-content__container {
  max-width: 900px;
  margin: 0 auto;
  @media (max-width: 991px) {
    padding: 0 24px;
  }
}

.page-content {
  margin-bottom: 80px;
}

.the-content {
  color: var(--color-primary);
  font-family: var(--font-body);
  padding-bottom: 120px;
  position: relative;
  text-align: justify;
  overflow: hidden;

  @media (max-width: 991px) {
    padding-bottom: 0px;
  }
  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: rgba($color: #0e6261, $alpha: 0.1);
    @media (max-width: 991px) {
      width: calc(100% - 48px);
      left: 24px;
      display: none;
    }
  }
  @media (max-width: 991px) {
    margin-bottom: 28px;
  }

  h2,
  h3 {
    font-size: 24px;
    line-height: 40px;
    font-weight: 400;

    margin-top: 48px;
    margin-bottom: 24px;
    @media (max-width: 991px) {
      font-size: 20px;
      line-height: 28px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    margin: 20px 0;
  }

  h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
    margin-top: 24px;
  }

  figure {
    margin: 24px 0 12px;
  }

  figcaption {
    font-size: 13px;
    line-height: 20px;
    color: var(--color-primary);
    margin-top: 12px;
    display: block;
  }

  ul {
    list-style: disc;
    padding-left: 20px;
    margin: 12px 0;

    li {
      margin-top: 4px;
    }
  }

  a {
    color: var(--color-primary);
    transition: all 0.4s ease;

    &:hover {
      color: var(--color-secondary);
    }
  }

  ol {
    padding-left: 20px;
    margin: 12px 0;

    li {
      margin-top: 4px;
    }
  }
  figure {
    width: 100%;
    height: auto;
    overflow: hidden;
    height: 440px;
    // mask: url("../../images/img-bg-banner.png");
    // mask-size: 100% 100%;

    &:first-child {
      margin-top: 0;
    }

    @media (min-width: 1441px) {
      height: 600px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }

  .wrapper-share {
    margin-top: 80px;
    gap: 48px;

    ul {
      gap: 24px;
      list-style: none;

      li {
        margin-top: 0;

        a {
          &:hover {
            color: var(--color-primary);
          }
        }
      }
    }
  }
}

.wrapper-cta__share {
  position: sticky;
  top: 120px;
  left: 40px;
  width: max-content;
  height: max-content;

  @media (max-width: 991px) {
    left: 24px;
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
    padding-bottom: 80px;
    position: relative;
    top: 0;
    width: 100%;
    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 48px);
      height: 1px;
      background-color: rgba($color: #232c6a, $alpha: 0.1);
    }
  }
  .main-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid var(--color-black);
    cursor: pointer;
    transition: all 0.4s ease;
  }

  ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    margin-top: 24px;
    @media (max-width: 991px) {
      flex-direction: row;
      margin: 0;
    }
    li {
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid var(--color-primary);
      opacity: 0;
      visibility: hidden;
      position: absolute;
      z-index: 1;
      transform: translateY(0);
      transition: all 0.4s cubic-bezier(0.15, 0.2, 0.1, 1);
      background-color: transparent;
      @media (max-width: 991px) {
        position: static;
      }
      path {
        transition: all 0.4s cubic-bezier(0.15, 0.2, 0.1, 1);
      }

      &:hover {
        background-color: var(--color-primary);

        svg:not(.icon-copy) {
          path {
            fill: var(--color-white);
          }
        }

        .icon-copy {
          path {
            stroke: var(--color-white);
          }
        }
      }

      a {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 1px solid var(--color-black);
        background-color: var(--color-gray-10);
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.4s ease;
      }
    }
  }

  &:hover {
    .main-icon {
      transform: scale(1.05);
    }

    li {
      opacity: 1;
      visibility: visible;
      @media (max-width: 991px) {
        transform: translateY(0) !important;
      }
      &:first-child {
        transform: translateY(25px);
      }

      &:nth-child(2) {
        transform: translateY(calc(100% + 48px));
        transition: all 0.45s cubic-bezier(0.15, 0.2, 0.1, 1);
      }

      &:nth-child(3) {
        transform: translateY(calc(100% + 120px));
      }
    }

    &::after {
      content: "";
      background-color: transparent;
      width: 100%;
      height: 192px;
      position: absolute;
      top: 100%;
      left: 0;
    }
  }
}
.page-content {
  position: relative;
  &__bg {
    position: absolute;
    width: auto;
    height: auto;
    z-index: -1;
    bottom: 25%;
    left: 0;
    &.right-bottom {
      left: unset;
      right: 0;
      bottom: -5%;
    }
    &.right-center {
      left: unset;
      right: 0;
      top: 20%;
      bottom: unset;
      width: 170px !important;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .row {
    @media (max-width: 991px) {
      flex-direction: column-reverse;
    }
  }
}
