:root {
  --color-primary: #232c6a;
  --color-secondary: #ce6232;
  --color-white: #ffffff;
  --color-pattern: #f8f0e2;
  --color-line: #484d5c;

  --font-heading: "SVN-Hello Serattine", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}
// color
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}
// font
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.h0-font {
  font-size: 64px;
  line-height: 72px;
}
.h4-font {
  font-size: 26px;
  line-height: 40px;
  font-weight: 400;
}
.h5-font {
  font-size: 24px;
  line-height: 40px;
  font-weight: 300;
}
.b2-font {
  font-size: 13px;
  line-height: 20px;
  font-weight: bold;
}
.b1-font {
  font-size: 16px;
  line-height: 28px;
  font-weight: 400;
}
.b2-font-md {
  font-size: 13px;
  line-height: 20px;
  font-weight: 500;
}
.spacing-120 {
  height: 120px;
}
.spacing-180 {
  height: 180px;
}
.spacing-240 {
  height: 240px;
}
