:root {
  --color-primary: #232c6a;
  --color-secondary: #ce6232;
  --color-white: #ffffff;
  --color-pattern: #f8f0e2;
  --color-line: rgba(72, 77, 92, 0.2);

  --font-heading: "SVN-Hello Serattine", sans-serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
}
// color
.color-primary {
  color: var(--color-primary);
}
.color-secondary {
  color: var(--color-secondary);
}
.color-white {
  color: var(--color-white);
}
// font
.font-heading {
  font-family: var(--font-heading);
}
.font-body {
  font-family: var(--font-body);
}
.h0-font {
  font-size: 64px;
  line-height: 72px;
}
.b2-font {
  font-size: 13px;
  line-height: 20px;
}

.font-medium {
  font-weight: 500;
}
